@charset "ISO-8859-1";
/*csslint adjoining-classes:false, box-sizing:false, box-model:false, ids:false, important:false, overqualified-elements:false, universal-selector:false*/
.ui-accordion .ui-accordion-content {
	overflow: hidden;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 8px !important;
}

.ui-grid > .ui-grid-row > div{
	background-color: #cccccc;
	border: 1px solid #dddddd;
	padding: 10px 0;
	text-align: center;
	font-size: 70% !important;
}

.ui-blockui,.ui-blockui-content {
	position: fixed;
	z-index: 9999;
}




.ui-grid-col-3 glitch{
	background-color: #cccccc;
	border: none !important;
	padding: 10px 10px;
	text-align: right;
	vertical-align: center;
	font-size: 70% !important
}

.glitch-btn-normal{
	background-color: #cccccc;
}

.glitch-btn-alarm {
	background-color: #cc2222;
}


/* for update only*/

